
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
  <title>Wikipedia Category Search</title>
  <link rel="stylesheet" href="styles.css">

  <script src="node/angular/angular.min.js"></script>

  <script src="app.js"></script>
</head>


<body ng-app="wcs">

  <h1 id="title">Wikipedia Category Search</h1>

	<div ng-controller="wcsSearchBar as ctrl">
		<div id="search-bar">
			<form>
	  		<input id="search-input"
							 placeholder="Enter a Wikipedia category"
							 ng-model="ctrl.cat"
							 ng-model-options="{debounce: 500}"
							 ng-change="ctrl.search()">
	  		<button type="submit">Get Categories</button>
			</form>
			<br>
		</div>

		<div id="search-results">
			<div ng-repeat="category in ctrl.results" class="category">
				<h4 ng-if="category.title !== 'No Results'" ng-click="ctrl.showList(category)" class="category-title">
					{{category.title.slice(9)}}
				</h4>
				<h4 ng-if="category.title === 'No Results'">
					No Results
				</h4>
				<div ng-if="category.expanded" class="page-list">
					<div ng-repeat="page in category.pageList">
						<p ng-if="page.title === 'No Pages'">
							No Pages
						</p>
						<p>
							<a ng-if="page.title !== 'No Pages'" href="{{page.fullurl}}" class="page">
								-{{page.title}}
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
