
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
  <title>Wikipedia Category Search</title>
  <link rel="stylesheet" href="styles.css">

  <script src="node/angular/angular.min.js"></script>

  <script src="app.js"></script>
</head>


<body ng-app="wcs">

  <h1>Wikipedia Category Search</h1>

	<div ng-controller="wcsSearchBar as ctrl">
		<div id="search-bar">
			<form ng-submit="ctrl.search()">
	  		<input id="search-input" placeholder="Enter a Wikipedia category" ng-model="ctrl.cat">
	  		<button type="submit">Get Categories</button>
			</form>
			<br>
		</div>

		<div id="search-results">
			<div ng-repeat="category in ctrl.results" ng-click="ctrl.showList(category)" class="category">
				<h4>
					{{category.title}}
				</h4>
				<div ng-if="category.expanded" class="page-list">
					<div ng-repeat="page in category.pageList" class="page">
						<a href="{{page.fullurl}}">{{page.title}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
